.logo {
  width:50%;
  height:70px;
  margin:auto;
  padding-top:15px;
  box-sizing:border-box;
}
.ancho {
  width: 85%;
  height:100px;
  margin:auto;
}
.logo p a {
  font-size: 40px;
  text-decoration: none;
  color: #353535;
  font-weight: bold;
}
.navegacion {
  width: 100%;
  margin: 30px auto;
  background: #F5F5F5;
}
.example-icon {
  padding: 0 14px;
}






.page {
  min-height: 100vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

div hr {
  border-color: #00adb5;
}

.title {
  color: #393e46;
  text-align: right;
  margin: 3%;
}

.listGroup {
  margin-left: 10%;
  width: 80%;
}

.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
  width: 100%;
}

.column {
  flex: 1;
  margin: 2.5%;
  width: 70%;
  height: 100%;
  background-color: #fff;
  min-height: 50px;
}

.columnThree {
  align-content: center;
  margin-top: 4%;
  float: right;
  width: 5%;
  height: 100%;
  font-size: 25px;
  margin-right: 10%;
}

.listGroup p, h2, h6 {
  color: #222831;
  margin-top: 1%;
}

.listGroup h4 {
  color: #00adb5;
  margin-top: 2%;
}

.columns:hover {
  background: #b5eef1;
  height: 100%;
}

.separator {
  height: 0.4vh;
  width: 100%;
  background-color: #00adb5;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-form-field {
  width: 20%;
}
.menu > li {
  display:inline-block;
  text-align:right;
}
.menu > li > a {
  display: block;
  padding: 15px 20px;
  text-decoration:none;
  color: #353535;
}
.menu li a:hover {
  color: #CE7D35;
  transition: all .3s;
}
.lupa > i{
  text-decoration: none;
  color: #353535;
}
.lupa i:hover {
  color: #CE7D35;
  transition: all .3s;
}



