<div class="fondo">
  <div class="navegacion">
    <div class="ancho">
      <mat-toolbar class="navMenu">
        <div class="logo">
          <p><a href="#">Empleate</a></p>
        </div>
        <ul class="menu">
          <li>
            <a href="">Inicio</a>
          </li>
          <li>
            <a href="">Profesiones</a>
          </li>
          <li>
            <a href="">Profesionales</a>
          </li>
        </ul>
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="buscar" [(ngModel)]="value">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <a href="#" class="lupa" (click)="buscarProfesionales(value)"><i class="material-icons">search</i></a>
      </mat-toolbar>
    </div>
  </div>
  <div class="listGroup">
    <div *ngFor="let item of profesionales" class="columns">
      <div class="separator"></div>
      <div class="column">
        <h4 class="center">{{item.nombre}} {{item.apellidos}}</h4>
        <h6 class="center">{{item.telefono}}</h6>
        <p class="center">{{item.correo}}</p>
      </div>
    </div>
    <div *ngIf="error" class="column">
      <p class="center">No se encontraron coincidencias</p>
    </div>
  </div>
</div>

