    <form  [formGroup]="expForm">
      <mat-form-field>
        <input matInput placeholder="Empresa" formControlName="Lugar">
        <mat-error *ngIf="expForm.get('Lugar').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
        <mat-error *ngIf="expForm.get('Lugar').hasError('pattern')">
          no ingrese valores <strong>invalidos</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Cargo" formControlName="Cargo">
        <mat-error *ngIf="expForm.get('Cargo').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
        <mat-error *ngIf="expForm.get('Cargo').hasError('pattern')">
          no ingrese valores <strong>invalidos</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="date" [matDatepicker]="picker" placeholder="Fecha Inicio" formControlName="Inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="expForm.get('Inicio').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="date" [matDatepicker]="picker1" placeholder="Fecha Fin" formControlName="Fin">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="expForm.get('Fin').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
      </mat-form-field>
    </form>