
<body class="navegacion">
    <div class="ancho">

      <mat-toolbar class="navMenu" >
        <div class="logo">
          <p><a href="#">Empleate</a></p>
        </div>
        <ul class="menu" >
          <li>
            <button mat-button color="accent" class="mainBotons"><mat-icon>home</mat-icon></button>
          </li>
          <li>
            <button mat-button color="accent" [matMenuTriggerFor]="menuBuscar" class="mainBotons">Buscar</button>
            <mat-menu #menuBuscar="matMenu">
              <button mat-menu-item>Trabajo</button>
              <button mat-menu-item>Empresa</button>
            </mat-menu>

          </li>

          <li>
            <button mat-button color="accent" class="mainBotons">Notificacion</button>
          </li>
          <li>
            <button mat-button color="accent" [matMenuTriggerFor]="menuPerfil" class="mainBotons"><mat-icon matSuffix>account_circle</mat-icon> Perfil </button>

            <mat-menu #menuPerfil="matMenu">
              <button mat-menu-item>Ver Perfil</button>
              <button mat-menu-item>Editar Perfil</button>
            </mat-menu>

          </li>
        </ul>
        <!--<mat-form-field class="example-form-field">
    <input matInput type="text" placeholder="buscar" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <a href="#" class="lupa" (click)=buscarProfesionales(value)><i class="material-icons"> search</i></a>-->
      </mat-toolbar>
    </div>


</body>


