<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <span>Empleate</span>
    <span class="example-spacer"></span>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/Company/Home">Inicio</a>    
    <a mat-raised-button color="accent" class="encabezado" routerLink="/Company/Home/RegistroEmpresa">Registro Empresa</a>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/Company/Home/OfertaTrabajo">Oferta Trabajo</a>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/Company/Home/BuscarEmpleado">Buscar Empleado</a>
  </mat-toolbar-row>
</mat-toolbar>
<br><br><br>
<router-outlet class="bodyContainer"></router-outlet>