<mat-card class="center-card">
  <mat-tab-group>
    <mat-tab label="Idiomas">
      <app-input-languages></app-input-languages>
      {{languages}}
    </mat-tab>
    <mat-tab label="Titulos">
      <app-academic-title></app-academic-title>
    </mat-tab>
    <mat-tab label="Experiencia">
      <app-form-exp></app-form-exp>

    </mat-tab>
  </mat-tab-group>
  <mat-card-actions>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent">ENVIAR</button>
  </mat-card-actions>
</mat-card>

