<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <span>Empleate</span>
    <span class="example-spacer"></span>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/register">Registrarse</a>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/login">Iniciar Sesion</a>
  </mat-toolbar-row>
</mat-toolbar>
<br><br><br>

<mat-card class="center-card" [formGroup]="RegisterForm">
  <mat-card-title class="tittle">
    REGISTRATE
  </mat-card-title>
  <mat-form-field class='normal'>
    <input matInput placeholder="Email" formControlName="Email">
    <mat-error *ngIf="RegisterForm.get('Email').hasError('required')">
      este campo no puede quedar en <strong>blanco</strong>
    </mat-error>
    <mat-error *ngIf="RegisterForm.get('Email').hasError('pattern')">
      no ingrese valores <strong>invalidos</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class='normal'>
    <input type="password" matInput placeholder="Contraseña:" formControlName='Password' />
    <mat-error *ngIf="RegisterForm.get('Password').hasError('required')">
      este campo no puede quedar en <strong>blanco</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class='normal'>
    <input type="password" matInput placeholder="Confirmar Contraseña:" formControlName='ConfirmPassword' />
    <mat-error *ngIf="RegisterForm.get('ConfirmPassword').hasError('required')">
      este campo no puede quedar en <strong>blanco</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Tipo de usuario" formControlName="Role" required>
      <mat-option value="company">Empresa</mat-option>
      <mat-option value="employee">Empleado</mat-option>

    </mat-select>
  </mat-form-field>
  <mat-card-actions>
    <div class='testt'>
      <div style='float: left;'>
        <button mat-raised-button (click)="RegisterForm.reset()" color="accent">Cancelar</button>
      </div>
      <div style='float: right;'>
        <button mat-raised-button color="accent" [disabled]="RegisterForm.invalid" (click)="register()">Iniciar sesion</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
