
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  width: 227px;
  height: 227px;
}
.searcher {
  min-width: 150px;
  width: 70%;
  margin: auto;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.slinput .left-icon {
  position: relative;
  cursor: pointer;
}

.slinput .fa {
  color: #444;
  font-size: 16px;
}

.center-card {
  max-width: 50%;
  margin: auto;
}

.btnSearch {
  background-color: rgb(255, 87, 34);
  color: white;
}

.btnlocation {
  text-align: right;
}
