<mat-card class="center-card">

  <form [formGroup]="empresaForm">
    <mat-form-field class='normal'>
      <input formControlName="nombre" matInput placeholder="Nombre Empresa">
      <mat-error *ngIf="empresaForm.get('nombre').hasError('required')">
        Campo vacio
      </mat-error>
    </mat-form-field>

    <mat-form-field class='largo'>
      <textarea formControlName="descripcion" matInput placeholder="Descripción Empresa:"></textarea>
      <mat-error *ngIf="empresaForm.get('descripcion').hasError('required')">
        Campo vacio
      </mat-error>
    </mat-form-field>

    <mat-form-field class='corto'>
      <mat-select placeholder="Rubro" formControlName="rubro">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
        <mat-error *ngIf="empresaForm.get('rubro').hasError('required')">
        </mat-error>
      </mat-select>
    </mat-form-field>

    <mat-form-field class='corto1'>
      <input type="number" formControlName="telefono" matInput placeholder="Telefono de Referencia:">
      <mat-error *ngIf="empresaForm.get('telefono').hasError('max')">
        telefono invalido
      </mat-error>
      <mat-error *ngIf="empresaForm.get('telefono').hasError('min')">
        telefono invalido
      </mat-error>
    </mat-form-field>

    <mat-form-field class='corto2'>
      <input type="email" formControlName="correo" matInput placeholder="Correo de Referencia:">
      <mat-error *ngIf="empresaForm.get('correo').hasError('pattern')">
        Ingrese un correo valido
      </mat-error>
    </mat-form-field>

    <mat-form-field class='corto3'>
      <input formControlName="direccion" matInput placeholder="Direccion:">
      <mat-error *ngIf="empresaForm.get('direccion').hasError('pattern')">
        No valido
      </mat-error>
    </mat-form-field>

    <mat-form-field class='URL'>
      <input formControlName="url" matInput placeholder="URL:">
      <mat-error *ngIf="empresaForm.get('url').hasError('pattern')">
        URL ERROR
      </mat-error>
    </mat-form-field>


    <input type="file" formControlName="imagen" accept="image/png, image/jpeg">

  </form>



  <mat-card-actions>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" (click)="registrar()" [disabled]="empresaForm.invalid">ENVIAR</button>
    <button mat-raised-button color="accent">CANCELAR</button>
  </mat-card-actions>

</mat-card>
