.center-card {
  max-width: 30%;
  margin: auto;
}

.chips {
  width: 90%;
}

.corto {
  margin-left: 5px;
  width: 80%;
}

.corto1 {
  margin-left: 5px;
  width: 80%;
}

.corto2 {
  margin-left: 5px;
  width: 80%;
}

.corto3 {
  margin-left: 5px;
  width: 80%;
}

.URL {
  margin-left: 5px;
  width: 80%;
}

.Img {
  margin-left: 5px;
  width: 100%;
}

.supercorto {
  margin-left: 5px;
  margin-top: 10px;
  width: 25%;
}

.largo {
  margin-left: 5px;
  width: 90%;
}

.normal {
  margin-left: 5px;
  width: 80%;
}

.example-spacer {
  margin-left: initial;
  width: 20%;
  position: initial;
}

.example-spacer1 {
  margin-left: 150px;
}

.elB {
  border-bottom: groove;
}

.foto {
  border-image: auto;
}
