<mat-card  class="center-card">
  <ng-template matStepLabel></ng-template>
  <strong>REGISTRO INFORMACION BASICA</strong>
  <form [formGroup]="employeeForm">
    <ng-template matStepLabel></ng-template>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="Name" required>
        <mat-error *ngIf="employeeForm.get('Name').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>

        <mat-icon matSuffix>person</mat-icon>

      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Apellido " formControlName="LastName" required>
        <mat-error *ngIf="employeeForm.get('LastName').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="fechaNacimiento" formControlName="Birthdate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="employeeForm.get('Birthdate').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
        <mat-icon matSuffix>cake</mat-icon>
      </mat-form-field>
    </div>
    <ng-template matStepLabel></ng-template>
    <div class="example-container">
      <mat-form-field>
        <mat-select placeholder="Estado civil" formControlName="CivilStatus" required>
          <mat-option value="single">Soltero</mat-option>
          <mat-option value="married">Casado</mat-option>
          <mat-option value="divorced">Divorciado</mat-option>
        </mat-select>
        <mat-error *ngIf="employeeForm.get('CivilStatus').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <mat-select placeholder="Sexo" formControlName="Gender" required>
          <mat-option value="option">Masculino</mat-option>
          <mat-option value="option">Femenino</mat-option>

        </mat-select>
        <mat-error *ngIf="employeeForm.get('Gender').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
        <mat-icon matSuffix>wc</mat-icon>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Direccion " formControlName="Address" required>
        <mat-error *ngIf="employeeForm.get('Address').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
        <mat-icon matSuffix>directions</mat-icon>
      </mat-form-field>
    </div>
    <ng-template matStepLabel></ng-template>
    <div class="example-container">
      <mat-form-field hintLabel="Max 8 caracteres numericos">
        <input matInput #input maxlength="8" placeholder="Telefono celular" formControlName="Phone" required>
        <mat-error *ngIf="employeeForm.get('Phone').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Ciudad" formControlName="City" required>
        <mat-error *ngIf="employeeForm.get('City').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
        <mat-icon matSuffix>room</mat-icon>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Ingresa tu email" formControlName="Email" required>
        <mat-error *ngIf="employeeForm.get('Email').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </div>
    <div class="example-container">
      <img src="./working.jpg" style=" width:20%;height:20%">
      <br />
      <input type="file" (change)="onFileSelected($event )" formControlName="Img" accept="image/png, image/jpeg" required>
      <mat-error *ngIf="employeeForm.get('Img').hasError('required')">
        este campo no puede quedar en <strong>blanco</strong>
      </mat-error>
      <mat-icon matSuffix style="padding-left:10px; ">archive</mat-icon>
    </div>
  </form>
  <div>
    <mat-card-actions>
      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" (click)="employeeForm.reset()">CANCELAR</button>
      <button mat-raised-button color="accent" (click)="submit()" [disabled]="disabled()">ENVIAR</button>
    </mat-card-actions>
  </div>
</mat-card>
