<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Empleate</span>
    <span class="example-spacer"></span>
    <a mat-raised-button color="accent"  class="encabezado" routerLink="/RAcademic">pruebaRegistrar</a>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/OfertarTrabajo">pruebaOfertarTrabajo</a>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/RegistroEmpresa">RegistroEmpresa</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet class="bodyContainer"></router-outlet>
