<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <span>Empleate</span>
    <span class="example-spacer"></span>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/InformacionBasica">Registro basico de usuario</a>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/InformacionAcademica">Informacion academica</a>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/RegistroEmpresa">Registro Empresa</a>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/OfertaTrabajo">Oferta Trabajo</a>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/SearchEmployment">Buscar Empleo</a>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/BuscarEmpleado">Buscar Empleado</a>
  </mat-toolbar-row>
</mat-toolbar>
<br><br><br>
<router-outlet class="bodyContainer"></router-outlet>
