<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Empleate</span>
    <span class="example-spacer"></span>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/InformacionBasica">Registro basico de usuario</a>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/InformacionAcademica">Informacion academica</a>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/RegistroEmpresa">Registro Empresa</a>
    <a mat-raised-button color="accent" class="encabezado" routerLink="/OfertaTrabajo">Oferta Trabajo</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet class="bodyContainer"></router-outlet>
