<mat-card class="center-card" [formGroup]="expForm">
	<mat-form-field class='normal'>
		<input matInput placeholder="Profesión u ocupación"  formControlName="profesion">
		<mat-error *ngIf="expForm.get('profesion').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
        <mat-error *ngIf="expForm.get('profesion').hasError('pattern')">
          no ingrese valores <strong>invalidos</strong>
        </mat-error>
	</mat-form-field>
	<mat-form-field class='normal'>
		<textarea matInput placeholder="Descripción de trabajo:" formControlName='descripcion'></textarea>
		<mat-error *ngIf="expForm.get('descripcion').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
	</mat-form-field>		     
	<mat-form-field class='normal'>
		<input matInput type="number" placeholder="Experiencia mínima en años:" formControlName='experiencia'>
		<mat-error *ngIf="expForm.get('experiencia').hasError('min')">
          la experiencia no puede ser <strong>menor a cero</strong>
    </mat-error>
    <mat-error *ngIf="expForm.get('experiencia').hasError('max')">
          la experiencia no puede ser <strong>mayor a 20</strong>
    </mat-error>
    <mat-error *ngIf="expForm.get('experiencia').hasError('required')">
          la experiencia no puede quedar en <strong>blanco</strong>
    </mat-error>
	</mat-form-field>
  
	<app-input-languages></app-input-languages>
	<app-input-skills></app-input-skills>
	<mat-form-field class='normal'>
		<input matInput placeholder="Ciudad:" formControlName='ciudad'>
		<mat-error *ngIf="expForm.get('ciudad').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
        <mat-error *ngIf="expForm.get('ciudad').hasError('pattern')">
          no ingrese valores <strong>invalidos</strong>
        </mat-error>
	</mat-form-field>

	<br>Horarios:<br>
	De:
	<mat-form-field class='supercorto'>
		<input matInput type="time" placeholder="inicio" formControlName='inicio'>
		<mat-error *ngIf="expForm.get('inicio').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
	</mat-form-field>
	A:
	<mat-form-field class='supercorto'>
		<input matInput type="time" placeholder="fin" formControlName='fin'>
		<mat-error *ngIf="expForm.get('fin').hasError('required')">
          este campo no puede quedar en <strong>blanco</strong>
        </mat-error>
	</mat-form-field>

	<mat-form-field class='corto'>
        <input matInput [matDatepicker]="picker" placeholder="Fecha limite de postulacion" formControlName='limite' [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="expForm.get('limite').hasError('required')">
          formato <strong>invalido</strong>, use el icono para una mejor experiencia
        </mat-error>
    </mat-form-field>

    <mat-card-actions >
    	<!--<span class="example-spacer"></span>-->
      <div class='testt'>
        <div  style='float: left;'>
    	     <button mat-raised-button color="accent" >Cancelar</button>
        </div>
      <!--<span class="example-spacer"> </span>-->
        <div style='float: right;'>
          <button mat-raised-button color="accent" [disabled]="expForm.invalid">Enviar</button>  		
        </div>
      </div>
  	</mat-card-actions>
</mat-card>