<mat-card class="center-card">
	<mat-form-field class='normal'>
		<input matInput placeholder="Profesión u ocupación">
	</mat-form-field>
	<mat-form-field class='normal'>
		<textarea matInput placeholder="Descripción de trabajo:"></textarea>		
	</mat-form-field>
	<mat-form-field class='normal'>
		<input matInput type="number" placeholder="Experiencia mínima en años:">
	</mat-form-field>
	<app-input-languages></app-input-languages>
	<app-input-skills></app-input-skills>
	<mat-form-field class='normal'>
		<input matInput placeholder="Ciudad:">
	</mat-form-field>

	<br>Horarios:<br>
	De:
	<mat-form-field class='supercorto'>
		<input matInput type="time" placeholder="inicio">
	</mat-form-field>
	A:
	<mat-form-field class='supercorto'>
		<input matInput type="time" placeholder="fin">
	</mat-form-field>

	<mat-form-field class='corto'>
        <input matInput [matDatepicker]="picker" placeholder="Fecha limite de postulacion">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-card-actions>
    	<!--<span class="example-spacer"></span>-->
    	<button mat-raised-button color="accent">Cancelar</button>		
  	</mat-card-actions>
  	<mat-card-actions class="leftt">
  		<button mat-raised-button color="accent" >Enviar</button>    	
  	</mat-card-actions>
</mat-card>