.center-card {
  max-width: 30%;
  margin: auto;
}

.chips {
  width: 90%;
}

.corto {
  margin-left: 5px;
  width: 63%;
}

.supercorto {
  margin-left: 5px;
  margin-top: 10px;
  width: 25%;
}

.largo {
  margin-left: 5px;
  width: 90%;
}

.normal {
  margin-left: 5px;
  width: 80%;
}

.leftt {
  display: flex;
  stify-content: flex-end;
  align-items: center;
}

/*.mat-form-field {
  margin-left: 5px;
  width: 50%;
}*/

example-margin {
  margin: 10px;
}

.red {
  color: red;
}

/*form {
  border-bottom-style: solid;
  border-width: 2px;
}*/


.example-spacer {
  flex: 1 1 auto;
}

.testt{
  width: 100%;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;  
}