.right{
	position: absolute;
    right: 0;
    background: #3f51b5;
  	color: #fff;
}

.left{
	position: absolute;
    left: 100;
    background: #3f51b5;
  	color: #fff;
}

.center {
  /*display: flex;*/
  /*flex-direction: column;*/
  align-content: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}