<div class="container" >
  <mat-card>
  <mat-horizontal-stepper [linear]="!isLinear" #stepper >
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel></ng-template>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Nombre" formControlName="nombreEmpleado" required>
            <mat-icon matSuffix>person</mat-icon>

          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Apellido " formControlName="apellidoEmpleado" required>
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="fechaNacimiento" formControlName="fechaNacimiento" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel></ng-template>
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Estado civil" formControlName="estadoCivil" required>
              <mat-option value="option">Soltero</mat-option>
              <mat-option value="option">Casado</mat-option>
              <mat-option value="option">Divorciado</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <mat-select placeholder="Sexo" formControlName="sexo" required>
              <mat-option value="option">Masculino</mat-option>
              <mat-option value="option">Femenino</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Direccion " formControlName="direccion" required>
            <mat-icon matSuffix>room</mat-icon>
          </mat-form-field>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel></ng-template>
        <div class="example-container">
          <mat-form-field hintLabel="Max 9 caracteres numericos">
            <input matInput #input maxlength="9" placeholder="Telefono celular" formControlName="telefonoCelular" required>
            
            <mat-icon matSuffix>call</mat-icon>
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Ingresa tu email" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>
        <div class="example-container">
          <img src="./working.jpg"  style=" width:20%;height:20%">
          <br />
            <input type="file" (change)="onFileSelected($event )">  
            <mat-icon matSuffix style="padding-left:10px; ">archive</mat-icon>
         
        </div>  
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel></ng-template>
      Registro Terminado.
      <div>
       

        <mat-card-actions>
          <span class="example-spacer"></span>
          <button mat-raised-button color="accent" (click)="submit()" [disabled]="disable()">ENVIAR</button>
          <button mat-raised-button color="accent" (click)="stepper.reset()">REINICIAR</button>
        </mat-card-actions>
      </div>

    </mat-step>
  </mat-horizontal-stepper>

</mat-card>

</div>
