/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.center {
  display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

nav a {
  /*padding: 20px 20px;*/
  text-decoration: none;
  margin-right: 10px;
  /*margin-top: 10px;*/
  /*display: inline-block;*/
  /*background-color: #eee;*/

  
}