
<mat-card class="center">
 <strong> Profesion requerida:</strong>{{offer.profession}} <br />
 <strong> Horario de trabajo:</strong>{{offer.startTime | slice:11:16}} - {{offer.endTime | slice:11:16}} <br />
 <strong> Experiencia Minima:</strong>{{offer.minExperience }} <br />


  <strong> Idiomas requeridos:</strong>
  <label *ngFor="let language of offer.reqLanguages">{{language.language}}, </label><br />

  <strong> Habilidades requeridas:</strong>
  <label *ngFor="let skill of offer.reqSkills">{{skill.skill}} </label><br />

  <span><strong>Descripcion:</strong> {{offer.description}}</span><br><br />
  <span><strong>Fecha limite:</strong> {{offer.deadline | slice:0:10}}</span>

  <br />
</mat-card>

