<mat-card class="center-card">

  <mat-card-header>
    <mat-card-title class="titulo"><strong>EMPRESA:</strong> {{offer.companyName}} </mat-card-title>
  </mat-card-header><br />

  <mat-card-subtitle><strong> Profesion requerida:</strong> {{offer.profession}}</mat-card-subtitle>
  <mat-card-subtitle><strong> Horario de trabajo:</strong> {{offer.startTime | slice:11:16}} - {{offer.endTime| slice:11:16}}</mat-card-subtitle>
  <mat-card-subtitle><strong> Experiencia Minima:</strong> {{offer.minExperience }}</mat-card-subtitle>


  <span>Descripcion: {{offer.description}}</span><br>
  <br />
  <br />

  <div class="rigth-button">
    <button mat-raised-button color="accent" class="btnSearch btnlocation " (click)='postulate()' mat-button>Postular</button>
  </div>

  <div class="left-button">
    <button mat-raised-button color="accent" class="btnSearch btnlocation " mat-button routerLink="/SearchEmployment">Cancelar</button>
  </div>

  <br />
  <br />

</mat-card>
